/* Font styles. */
/* line 2, ../sass/style.sass */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  /*font: 13px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;*/
  background: url(../images/bodybg.png)no-repeat;
  background-position:top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;	
	font-family:"Arial";
	font-size:13px;
}

/* Links */
/* line 10, ../sass/style.sass */
a:link, a:visited {
  color: blue;
  text-decoration: none;
}

/* line 15, ../sass/style.sass */
a:hover, a:active {
  color: red;
  text-decoration: underline;
}

/* Titles. */
/* line 21, ../sass/style.sass */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

/* line 24, ../sass/style.sass */
h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 30, ../sass/style.sass */
h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

/* line 35, ../sass/style.sass */
h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

/* line 39, ../sass/style.sass */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

/* line 43, ../sass/style.sass */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 48, ../sass/style.sass */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph styles. */
/* line 53, ../sass/style.sass */
p {
  margin: 0 0 1em 0;
}

/* List styles. */
/* line 57, ../sass/style.sass */
ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* Table styles. */
/* line 62, ../sass/style.sass */
table {
  width: 99%;
}

/* line 67, ../sass/style.sass */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 70, ../sass/style.sass */
tr.odd {
  background-color: white;
}

/* Code. */
/* line 74, ../sass/style.sass */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 78, ../sass/style.sass */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
/* line 86, ../sass/style.sass */
ul {
  list-style-type: disc;
}
/* line 88, ../sass/style.sass */
ul ul {
  list-style-type: circle;
}
/* line 90, ../sass/style.sass */
ul ul ul {
  list-style-type: square;
}
/* line 92, ../sass/style.sass */
ul ul ul ul {
  list-style-type: circle;
}

/* line 95, ../sass/style.sass */
ol {
  list-style-type: decimal;
}
/* line 97, ../sass/style.sass */
ol ol {
  list-style-type: lower-alpha;
}
/* line 99, ../sass/style.sass */
ol ol ol {
  list-style-type: decimal;
}

/* Abbreviation. */
/* line 103, ../sass/style.sass */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments. */
/* line 109, ../sass/style.sass */
#edit-title {
  font-size: 24px;
  width: 98%;
}

/* line 113, ../sass/style.sass */
#system-themes-form img {
  width: 100px;
}

/* line 116, ../sass/style.sass */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 123, ../sass/style.sass */
#edit-delete {
  color: #cc0000;
}

/* Console, style from slate theme. */
/* line 127, ../sass/style.sass */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

/* line 134, ../sass/style.sass */
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

/* line 139, ../sass/style.sass */
div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

/* line 144, ../sass/style.sass */
div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

/* Region Colors. delete when starting a new theme. */
/* line 150, ../sass/style.sass */
#header, #footer {
  /*background: #efefef; omomom */
}

/* line 153, ../sass/style.sass */
#sidebar-first {
  background: #e7edff;
}

/* line 156, ../sass/style.sass */
#sidebar-second {
  background: #ffd075;
}

/* line 159, ../sass/style.sass */
#navigation {
  background: #feffa5;
}

/* ----------------------------------- */
#header {background:url("../images/banner.png")no-repeat; height:150px;}
#logo-title img {padding-top:18px; padding-left:20px}

ul#primary {padding-top:25px; text-align:center;}
ul#primary li {padding:30px;}
ul#primary a{color:#cee9ee; font-size:1.2em; text-decoration:none;}
ul#primary a:hover{color:#fff; font-size:1.2em; text-decoration:none;}

#navigation {background:#660000; height:70px;}
#content-inner {width:670px; margin-left:10px; margin-top:40px;}
#sidebar-second{background:#fff; width:255px; border: 1px solid #000; margin-right:10px; margin-top:80px;}
#sidebar-first{background:#fff; width:255px; border: 1px solid #000; margin:80px 10px 0 11px}
#block-user-1 {visibility:hidden;}

#quicktabs-shipregistries ul.quicktabs_tabs {text-align: center; border:none; height:17px;margin-bottom:2px;}
#quicktabs-shipregistries ul.quicktabs_tabs li {border:0px; height: 79px; top: -20px;}
#quicktabs-shipregistries ul.quicktabs_tabs li.qtab-0 {margin-right:1px; background:none;}
#quicktabs-shipregistries ul.quicktabs_tabs li.qtab-1 {background:none;}
.quicktabs_main.quicktabs-style-basic{background:none; border:none;}
/*.front #content-inner img , .quicktabs_main.quicktabs-style-basic img {width:100%;}*/
#block-quicktabs-shipregistries {top: 40px;}
#content #content {background:none;}

/*.quicktabs_main.quicktabs-style-basic{background:url("../images/contentarea_bg.png")no-repeat; background-size: 100% 100%;}*/
/*ul.quicktabs_tabs.quicktabs-style-basic li a {color:#000; padding:20px 10%; background:#cee9ee; border: 2px solid #fff;} ---------------- */
/*ul.quicktabs_tabs.quicktabs-style-basic li.active {border:0 !important;} ----------------------- */

/*.view-sponsors-list, #block-block-2, #block-block-3 {padding:10px}*/
#sidebar-second-inner{padding:10px}

.views-row  .views-field-title a{font-size:15px; color:#660000; text-decoration:underline; font-weight:bold;}
.views-row  .views-field-title a:hover{color:#000; text-decoration:none;}
.views-row  .views-field-field-sponsors-website-link-url a{color:green; font-size:12px; margin-top:}
.views-row  .views-field-field-sponsors-website-link-url {margin-top:-12px}
.views-row {margin-bottom:14px;}
#content-area {padding: 3px 8px 0 0;}
#quicktabs_container_shipregistries {margin-bottom:40px;}
.logged-in #content-area {border: 1px solid #ccc; margin-top:6px; margin-left:5px;}

 /* disabled on 5 Dec 2012 #content{background: url(../images/bodybg.png)no-repeat;}*/
 #main{background: url(../images/bodybg.png)no-repeat;}
/* ------------------------------------------------------------------- */
.worldmap {height:33px; font-weight:bold;}
.mapbutton{width:24px; height:8px; border-radius: 40%;}
.north_america{background:#1f4064;}
.south_america{background:#3478b7;}
.europe{background:#4d6f93;}
.africa{background:#a7b7c4;}
.mIddle_east{background:#586b71;}
.southeast_asia{background:#6d77b7;}
.east_asia{background:#19242e;}
.australia{background:#acaed3;}

.blog{float:left; width:43%; height:190px; border: 1px solid #000; margin-bottom:8px; padding:15px;}
.blog h3, .blog .footer {color:#660000;}
.blog .footer{text-align:right;}
.blog .footer a{color:#660000; font-weight:bold; text-decoration:none}
.blog .footer a:hover{text-decoration:underline}
.subscriber{float:left; width:43%; height:190px; border: 1px solid #000; margin-left:16px; padding:15px; text-align:center}
.subscriber h3{font-size:1.8em; font-weight:400;}

/* ------------------------------------------------------------ */
#content-header h1.title{color:#660000; text-shadow: black 0.1em 0.1em 0.2em}


#content h3{color:#660000; text-decoration:underline;}
.story img {padding-right:15px;}

form#user-login {border: 1px solid #ccc; border-radius:0 0 20px 20px; padding:15px; background:#E4EFF0; margin:-2px 0 0 5px;}
form#user-pass{border: 1px solid #ccc; border-radius:0 0 20px 20px; padding:15px; background:#E4EFF0; margin:-2px 0 0 5px;}
form#user-register {border: 1px solid #ccc; border-radius:0 0 20px 20px; padding:15px; background:#E4EFF0; margin:-2px 0 0 5px;}

.view-content .views-summary a {font-size:1em; font-weight:bold; color:#660000;}
.view-content .views-summary a:hover{color:#000;}
.view-content .views-summary {font-size:1.3em; font-weight:bold; color:#660000;}



ul.quicktabs_tabs.quicktabs-style-basic li a {color:#3478B7; padding:20px 10%; background:#cee9ee; border: 2px solid #fff;}
ul.quicktabs_tabs.quicktabs-style-basic li.active a{color:#660000; background:#cee9ee; border: 2px solid #fff;}

#edit-name-wrapper label{float:left; width:30%;}
 #edit-name-wrapper input{width:60%; border: 1px solid #BE7E40; font-size:1em; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; height:25px; color:#660000;}
 #edit-pass-wrapper label{float:left; width:30%;}
 #edit-pass-wrapper input{width:60%; border: 1px solid #BE7E40; font-size:1em; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; height:25px; color:#660000;}

 form#user-register label{float:left; width:30%;}
 form#user-register input{width:60%; border: 1px solid #BE7E40; font-size:1em; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; height:25px; color:#660000;}
 
#quicktabs_tabpage_shipregistries_1 .view-content table tr td a {font-size:1.2em; color:#000; font-weight:bold;}

#content-header .tabs ul{border-bottom:none; position:relative; }
#content-header .tabs ul li a{background:#DEEAEB; font-weight:bold;}
ul.primary li.active a {border-bottom:none;}
ul.primary li a { border-radius: 10px 10px 0 0; padding: 0.5em 1em; border-bottom: 1px solid #ccc;}
.tabs

#sidebar-second-inner {padding:10px;}

#block-archive_dropdown-0 select {width:235px; color:#660000; font-size:1em; height:20px; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; line-height:normal; padding:3px;}
#block-archive_dropdown-0 select option {width:215px; color:#660000; font-size:1em; height:20px; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; line-height:normal; padding-top:9px;}
/* temporary here on 5 DEC #norightsection #content-area .view-region-listing{width:102%}/* need to delete later */
select#edit-tid {width:235px; color:#660000; font-size:1em; height:20px; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; line-height:normal; padding:2px;}
select#edit-tid option{width:235px; color:#660000; font-size:1em; height:20px; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; line-height:normal; padding-top:9px;}
input#edit-submit-taxanomy-dropdown{margin-top:5px; color:#660000; font-size:10px; text-transform: uppercase; font-weight:bold; padding-top:2px; padding-right:7px; padding-left:6px;}
.views-submit-button {width:93%; text-align:center}
h3.block-title {margin-bottom:0.2em; margin-top:0.5em;}
input#edit-submit{width:auto !important; font-size:10px !important; text-transform: uppercase; font-weight:bold;padding:1px 5px 1px 5px;}
.browserChrome input#edit-submit{font-weight:700; padding:3px 5px 3px 5px;}
/*#norightsection {width:670px; margin:40px auto;}*/
#content-area .node-inner .submitted {font-size:11px; font-weight:bold; color:#660000}

ul.secondary {margin-top:10px !important;}
ul.secondary li {border: 1px solid #CCCCCC;background:#DEEAEB;  border-radius:25px; padding:5px 10px 5px 10px !important}
ul.secondary li a{font-size:11px; color:#000}
ul.secondary li a:hover{color:#660000;}
ul.primary {padding: 0px ! important;}
/* by prompt */
.view-story .item-list ul li{list-style: none;}
.views-row{float:left;}
.views-field-field-blog-image-fid{width:150px;float:left;height:auto;padding-right: 10px;}
/* end of prompt */
.views-field-created{font-size:11px; font-weight:bold; padding-bottom: 5px;padding-top: 10px;}
.views-field-name{padding-bottom: 10px;}
#norightsection #content-area .view-region-listing table a{font-size:16px; color:#000;}	
.not-logged-in #norightsection #content-area .view-region-listing table {-moz-box-shadow: 0 3px 5px 5px #ccc; -webkit-box-shadow: 0 3px 5px 5px #ccc; box-shadow: 0 3px 5px 5px #ccc;}
/* for table styling */
/*#content-area .view-region-listing table td.views-field-name a{margin-left:50px}*/
table td.views-field-name a{margin-left:50px}
table img.taxonomy-image-vid-7 {margin-right:50px; border-radius:5px;}
table td.views-field-tid {text-align:right;}
/* End of table styling */
.CSS1Compat body{background:none !important;}

/* For testing purpose as converted ul to DIV on 6 DEC 2012 */
/*.front #quicktabs-shipregistries ul.quicktabs_tabs  {border: 1px solid red}*/

#quickbutton {text-align:center; margin:-18px 0 30px 0;}
#quickbutton a {color:#027AC6; font-weight:bold;}
#quickbutton a:hover{color:#027AC6; font-weight:bold; text-decoration:none}
#quickbutton .qb {border: 2px solid #fff; height:200px; padding:20px 82px; background:#CEE9EE;}
#quickbutton .qb:hover {background:#DEEAEB}
/* end of testing here */

#quicktabs_container_shipregistries .view-content table {-moz-box-shadow: 0 3px 5px 5px #ccc; -webkit-box-shadow: 0 3px 5px 5px #ccc; box-shadow: 0 3px 5px 5px #ccc;}

/*If first sidebar exist*/
.sidebar-left #content-inner{margin-left: 274px}

/*COUNTRY PAGES LEFT BLOCK*/
.node-type-shipregistries-country-content #sidebar-first, .node-type-country-subpages #sidebar-first, .node-type-sample-entry #sidebar-first, .node-type-page #sidebar-first{background:none; border:none;}
.node-type-shipregistries-country-content ul#subNav, .node-type-country-subpages ul#subNav, .node-type-sample-entry ul#subNav, .node-type-page ul#subNav{background:#fff; -webkit-border-radius: 10px; -moz-border-radius: 10px;  border-radius: 10px;margin-left:4px; margin-top:4px; border: 1px solid #000000; }
.node-type-shipregistries-country-content ul#subNav li, .node-type-country-subpages ul#subNav li, .node-type-sample-entry ul#subNav li, .node-type-page ul#subNav li{list-style:none; padding-top:10px; text-align:center; margin-left:-5px; border-bottom:1px solid #660000; width:94%; padding-bottom:10px; font-size:12px }
.node-type-shipregistries-country-content ul#subNav li a, .node-type-country-subpages ul#subNav li a, .node-type-sample-entry ul#subNav li a, .node-type-page ul#subNav li a{color:#660000 !important; font-weight:bold;}

/*RIGHT SIDE BLOCK*/
.sidebar-right #sidebar-second #block-menu-menu-links ul.menu{background:#fff; -webkit-border-radius: 10px; -moz-border-radius: 10px;  border-radius: 10px;margin-left:4px; margin-top:4px; border: 1px solid #000000; }
.sidebar-right #sidebar-second #block-menu-menu-links ul.menu li{list-style:none; padding-top:10px; text-align:center; margin-left:-5px; border-bottom:1px solid #660000; width:94%; padding-bottom:10px; font-size:12px }
.sidebar-right #sidebar-second #block-menu-menu-links ul.menu li a{color:#660000 !important; font-weight:bold;}

/*FLAG IMAGES*/
/*.node-type-shipregistries-country-content .taxonomy-images{float: right; margin-top: -66px; margin-right: -8px;}
.node-type-country-subpages .taxonomy-images{float: right; margin-top: -53px; margin-right: -8px;}
.node-type-sample-entry .taxonomy-images{float: right; margin-top: -53px; margin-right: -8px;}*/

/*HIDE THE TAXONOMY FIELD IN COUNTRY PAGES*/
.node-type-shipregistries-country-content .taxonomy, .node-type-country-subpages .taxonomy, .node-type-sample-entry .taxonomy{display:none;}

/*WHITE BACKGROUND FOR COUNTRY CONTENTS*/
.node-type-shipregistries-country-content #content-area, .node-type-country-subpages #content-area, .node-type-sample-entry #content-area{background:#FFF; padding:10px;}

.item-list ul.pager li {padding:0; margin-right:3px}
.item-list ul.pager li.pager-last {margin-right:0;}
.item-list ul.pager li.pager-first {margin-right:0; margin-left:0; padding:0;}
/*.view-blog-post .view-content .views-row-1{border: 1px solid #000; padding:10px;}*/
#block-views-blog_post-block_1{border: 1px solid #000; padding:5px;}
#block-views-blog_post-block_1 .block-title{text-transform:uppercase;padding-bottom:5px;}
.page-user-agreement #sidebar-second, .page-privacy-policy #sidebar-second, .front #sidebar-second{border:0; background:none;margin-top:70px; margin-right:0;}
#block-views-sponsors_list-block_1 {border: 1px solid #000; padding:10px; background:#fff}
/*.page-privacy-policy #block-views-subscriber_benefits-block_1 .views-field-title, .front #block-views-subscriber_benefits-block_1{border: 1px solid #000; padding:10px; background:#fff; margin-top:10px;}*/
 #block-views-subscriber_benefits-block_1{border: 1px solid #000; padding:10px; background:#fff; margin-top:10px;}
 #block-views-subscriber_benefits-block_1 .views-field-title {text-transform:uppercase;}
/*No sidebar content*/
.no-sidebars #content-inner{margin:40px auto;}
/*.node-type-blog #content-area .content img {padding:15px 15px 10px 0}*/
#content-area .content img {padding:10px 10px 10px 0}
.node-type-country-subpages #content-area .node-type-shipregistries_country_content{padding:15px}
/*.node-type-shipregistries-country-content #content-area img, .node-type-shipregistries-country-content #content-area img{padding:10px 10px 10px 0}*/
/*VIEWS SUBMIT BUTTON*/.views-exposed-form .views-exposed-widget .form-submit {margin-top: 0.6em;width: 100px;}
.views-exposed-form #edit-populate-wrapper #edit-populate{height: 22px;width: 232px;}
/*FLAG IMAGES*/#content-area .taxonomy-images img {float: right;margin-right: -10px;margin-top: -61px;padding: 0;}
.node-type-shipregistries-country-content #content-area .taxonomy-images img {margin-top: -74px;}
/*footer*/#block-block-101 {text-align:center; font-size:12px; padding-top:10px;} #block-block-101 a{color:#660000}

/*Glossary alignment*/
#quicktabs_tabpage_shipregistries_1 .view-gloss-temp .view-content{text-align:center;}
.front #content-header .tabs{display:none;}

#subscribe_button{
	float: right;
	margin-top: -22px;
}.node-type-blog .blog_usernames_blog{display:none;}